* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    background-color: white;
}

nav h1 {
    display: flex;
    align-items: center;
    font-family: 'Megrim', cursive;
    font-size: 28px;
}

#navLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Offside', cursive;
}

#navLinks li{
    list-style: none;
}

#navLinks a {
    text-decoration: none;
    color: black;
    padding: 0px 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container * {
    animation: text 1s forwards;
}

.content {
    font-family: 'Muli', cursive;
    padding: 0px 10vw;
}

#ABOUT {
    position: static;
    height: 60vh;
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .2)), url("Images/ABOUT/Background.jpg") center;
    background-size: cover;
    text-align: center;
}

#ABOUT h1 {
    font-family: 'Poiret One', cursive;
    font-size: 28px;
    letter-spacing: 4px;
}

#ABOUT .content {
    padding-top: 2vh;
}

#Sun-punchMan {
    height: 115vh;
    background-color: #FAFAFA;
}

#PROTFOLIO h1 {
    font-family: 'Offside', cursive;
    font-size: 24px;
    text-align: center;
    letter-spacing: 4px;
}

.SeperationLine {
    margin: 0 auto;
    margin-top: 40px;
    width: 40px;
    height: 7px;
    border-radius: 5px;
    background-color: #5ef2ff;
}

.GameName {
    font-size: 48px;
    text-align: center;
}

#Sun-punchMan .GameName {
    margin-top: 40px;
    font-family: "Pale Blue Eyes";
}

#Sun-punchMan .content {
    margin-top: 50px;
}

.slideshow {
    margin-top: 40px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.slideshow * {
    width: 25vw;
    flex-shrink: 0;
}

#modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.9);
}

#modal img {
    display: block;
    margin: auto;
    max-height: 100vh;
    max-width: 100vw;
}

#close {
    position: absolute;
    top: 1vh;
    right: 2vw;
    color: #f1f1f1;
    font-size: 5vh;
    font-weight: bold;
}
 
#close:hover {
  color: #bbb;
}

#Eryla {
    height: 100vh;
    background-color: #dbae65
}

#Eryla .GameName {
    font-family: "Xirwena";
}

#Eryla .content {
    font-family: "XalTerion";
    margin-top: 40px;
}

@keyframes text {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media only screen and (min-width: 600px) {
    #ABOUT h1 {
        font-size: 60px;
    }
}

@font-face {
    font-family: "Pale Blue Eyes";
    src: url("Fonts/Pale\ Blue\ Eyes.woff2");
}

@font-face {
    font-family: "Xirwena";
    src: url("Fonts/Xirwena.woff2");
}

@font-face {
    font-family: "XalTerion";
    src: url("Fonts/XalTerion.woff2");
}